<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<title>PI - PHPYTHON - GANTT</title>	
	<link rel="stylesheet" type="text/css" href="css/estilos.css">
    <script type="text/javascript" src="js/javascript.js"></script>
</head>
<body>
	<div id="top" class="boxShadow1">
       <div class="dropdown_menusuperior">
          <img id="imgbtn_menusuperior" src="images/btn_menu_superior.png" onclick="menuDropdown_menusuperior()" class="dropbtn_menusuperior">
              <div id="menu_superior" class="dropdown-content_menusuperior">
                <a href="#novo_gantt_planner">Novo Gantt Planner</a>
                <a href="#abrir_gantt_planner">Abrir Gantt Planner</a>
                  <a href="#" onclick="clicaPessoas()">Pessoas</a>
               
              </div>
        </div>

         <h1>Gantt Planner - by PHPython</h1>
        <img id="imgbtn_play" src="images/img_play.png">
        <button id="btn_compartilhar" class="btn_shadow2">COMPARTILHAR</button>
	</div>
    
    <div id="top_central" class="boxShadow1">
        <h1 contenteditable="true" id="nomePlanner">Nome Planejamento</h1>
        
        
         <img id="imgbtn_prj" src="images/img_prj.png" onclick="clicaProjeto()">
   
        
        <div id="imgbtn_trf"  class="dropdown_trf">
          <img id="imgbtn_trf" src="images/img_trf.png" onclick="menuDropdown_trf()" class="dropbtn_trf">
              <div id="menu_trf" class="dropdown-content_trf">
                <div id="cadastro_tarefa">
                  <br>
                  <label>Seleione Projeto: <input type="text" list="listaProjetos"></label>
                  <datalist id="listaProjetos">
                      <option value="Projeto 1">
                  </datalist>
                  <br>
                  <label for="nomeTarefa">Nome Tarefa: <input id="nomeTarefa" type="text"></label>
                  <br>
                  <label for="dt_inicioTarefa">Data Inicial: <input id="dt_inicio" type="date"></label>
                  <br>
                  <label for="dt_finalTarefa">Data Final: <input id="dt_final" type="date"></label>
                    <br>
                  <label for="dt_prazoTarefa">Prazo: <input id="dt_prazo" type="date"></label>
                    <br>
                  <label for="interdependencia">Interdependência: <input id="interdependencia" type="text" list="listaTarefas"></label>
                  <datalist id="listaTarefas">
                      <option value="Tarefa 1">
                      <option value="Tarefa 2">
                  </datalist>
                    <br>
                      <button id="btn_salvartarefa" type="submit" class="btn_shadow2">Gravar</button>
                  
                  
                </div>
                
              </div>
        </div>
        
         <div id="imgbtn_pessoas"  class="dropdown_pessoas">
          <img id="imgbtn_pessoas" src="images/img_pessoas.png" onclick="menuDropdown_pessoas()" class="dropbtn_pessoas">
              <div id="menu_pessoas" class="dropdown-content_pessoas">
                <div id="cadastro_pessoas">
                  
                 
                  <br>
                  <label >Seleione Projeto: <input  type="text" list="listaProjetos"></label>
                  <datalist id="listaProjetos">
                      <option value="Projeto 1">
                  </datalist>
                  <br>
                <br>
                     <label for="tarefas">Tarefa: <input id="tarefas" type="text" list="listaTarefas"></label>
                  <datalist id="listaTarefas">
                      <option value="Tarefa 1">
                      <option value="Tarefa 2">
                  </datalist>
                    <br>
                  <label for="listanomePessoa">Seleione a pessoa: <input id="listanomePessoa" type="text" list="listaPessoa"></label>
                  <datalist id="listaPessoa">
                      <option value="João">
                      <option value="Ana">
                      <option value="Pedrinho">
                  </datalist>
                  
                    <br>
                    <label for="hr_tarefa">Horas diárias na tarefa: <input id="hr_tarefa" type="time"></label>
                    <br>
                 
                      <button id="btn_salvarpessoa" type="submit" class="btn_shadow2">Gravar</button>
                  
                  
                </div>
                
              </div>
        </div>
        
            
        
        <img id="imgbtn_download" src="images/img_download.png">
        <button id="btn_salvarplanning" class="btn_shadow2">SALVAR</button>       
    </div>

	<div  id="central">
	
			<div id="left_center" class="box">
                <button id="btn_expandetarefa" class="btn_shadow1" onclick="expandeTarefas()">PROJETO 1</button>
                <div id="col_tarefas">
                    
                </div>

			</div>

			<div id="center" class="box">
               <iframe id="iframeCentral" src="gantt.html"></iframe>
                
			</div>

			<div id="right_center" class="box">
                
                <div id="pessoas_top">
                    <button id="btn_pessoas" class="btn_shadow2" onclick="expandePessoas()">PESSOAS</button>
                    <div id="pessoas_list" class="boxShadow1"> 
                        
                    </div>
                </div>
                
                <div id="datas">
                    <button id="btn_datas" class="btn_shadow2">DATAS</button>
                    <div id="datas_list" class="boxShadow1"> 
                        <br>
                        <label class="styleWord1">PRAZO: </label>
                        <br><br>
                        <label class="styleWord1">INICIO:</label>
                        <br><br>
                        <label class="styleWord1">FINAL:</label>
                        
                    </div>
                </div>
                 
			</div>
	</div>
    <div id="bottom_central" class="boxShadow1">
            <button id="btn6" class="btn_shadow4" >DIA</button>
            <button id="btn6" class="btn_shadow4">SEMANA</button>
            <button id="btn6" class="btn_shadow4">MÊS</button>
            <button id="btn6" class="btn_shadow4">ANO</button> 
    </div>
    
     <!------------------------------------------------------------->
    
    <!--CADASTRO DE PROJETO -->
            <dialog id="abreCadastroProjeto" class="abreCadastro"> 
         <div id="bloco_superior" class="boxShadow1">
                <button id="btn_fechar" class="btn_shadow2" onclick="fecharCadastroProjeto()">[X]Fechar</button>
             <h1 class="styleWord1">Cadastro de Projeto</h1>        </div>
        <br><br>
                
            
             <div id="cadastro_projeto">
                 
                 <label  for="codProjeto">Código projeto: <input readonly="true" id="codProjeto" type="text"></label>
                 <button type="button" id="codAnteriorCadasProjeto" class="btn_shadow1_1" onclick="recuarCodProjeto()"></button>
                 <button type="button" id="codPosteriorCadasProjeto" class="btn_shadow1" onclick="avancarCodProjeto()"></button>
                                  <br><br>
                <label for="nomeProjeto">Nome projeto: <input id="nomeProjeto" readonly="true" type="text"></label>
                  
                  <label for="escopo">Escopo: <input id="escopo" readonly="true" type="text"></label>
                  <br><br>
                  <label for="dt_inicioProjeto">Data Início: <input readonly="true" id="dt_inicioProjeto" type="date"></label>
                  
                  <label for="dt_prazoProjeto">Prazo Entrega: <input readonly="true" id="dt_prazoProjeto" type="date"></label>
                    <br><br>
                  <label for="corProjeto">Cor do projeto: <input disabled="true" id="corProjeto" type="color"></label>
                    <br><br>
                  <button id="btn_novoprojeto" type="submit" class="btn_shadow2" onclick="novoProjeto()">Novo</button>
                
                      <button id="btn_salvarprojeto" type="submit" class="btn_shadow2" onclick="gravarProjeto()">Gravar</button>
                      <button id="btn_cancelarCadasProjeto" type="submit" class="btn_shadow2" onclick="cancelarCadasProjeto()">Cancelar</button>
                     <button id="btn_excluirCadasProjeto" type="submit" class="btn_shadow2" onclick="excluirCadasProjeto()">Excluir</button>
                 
                </div>
               
                <div id='listaProjeto'>
            
            <table id="sortable" border=1>
                    <thead>
                        <caption>Projetos cadastrados:</caption>
                        <tr>
                        <th>Código</th><th>Projeto</th><th>Data Início</th><th>Prazo</th><th>Cor</th>
                        </tr>
                  </thead>
                    <tbody id="corpoTabelaProjeto">
                        
                       
                    


                    </tbody>

        
            </table>
                   
        </div>
                 
              
            </dialog>
            
     <!------------------------------------------------------------->
    <!--- CADASTRO DE PESSOAS -->
    <dialog id="abreCadastroPessoas" class="abreCadastro"> 
         <div id="bloco_superior" class="boxShadow1">
                <button id="btn_fechar" class="btn_shadow2" onclick="fecharCadastroPessoa()">[X]Fechar</button>
             <h1 class="styleWord1">Cadastro de Pessoas</h1>        </div>
        <br><br>
        <div id='cadastroPessoas'>
        
            <label for='nomePessoa'>Nome da pessoa: </label><input type='text' id='nomePessoa' name="nomePessoa">
            <br><br>
            <label for='contato'>Contato: </label><input type='text' id='contato' name="contato">
            <br><br>
            <button id='btn_gravarpessoa' onclick="gravarPessoa(), jsonCadastroPessoa()" class='btn_shadow2'>Gravar</button>
            <button id='btn_limparCadasPessoa' class='btn_shadow2' onclick="limparCadasPessoa()">Limpar</button>
           
        </div>
        
        <br><br><br>
        <div id='listaPessoas'>
            
            <table border=1>
                    <thead>
                        <caption>Pessoas cadastradas:</caption>
                        <tr>
                        <th>Nome</th><th>Contato</th>
                        </tr>
                  </thead>
                    <tbody id="corpoTabelaPessoas">
                        
                       
                    


                    </tbody>

        
            </table>
        </div>
        
    </dialog>
 <!------------------------------------------------------------->
</body>




</html>