{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<title>PI - PHPYTHON - GANTT</title>	
	<link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">
    <script type="text/javascript" src="{% static 'js/javascript.js' %}"></script>
</head>
<body>
	<div id="top" class="boxShadow1">
       <div class="dropdown">
          <img id="imgbtn1" src="{% static 'images/btn_menu_superior.png' %}" onclick="menuDropdown()" class="dropbtn">
              <div id="myDropdown" class="dropdown-content">
                <a href="#novo_gantt_planner">Novo Gantt Planner</a>
                <a href="#abrir_gantt_planner">Abrir Gantt Planner</a>
                  <a href="#abrir_gantt_planner">Desenvolvedores</a>
                
              </div>
        </div>

         <h1>Gantt Planner - by PHPython</h1>
        <img id="imgbtn2" src="{% static 'images/img_play.png' %}">
        <button id="btn1" class="btn_shadow2">COMPARTILHAR</button>
	</div>
    
    <div id="top_central" class="boxShadow1">
        <h1 contenteditable="true" id="nomePlanner">Nome Planejamento</h1>
        
        <div id="imgbtn_prj" class="dropdown2">
          <img id="imgbtn_prj" src="{% static 'images/img_prj.png' %}" onclick="menuDropdown_prj()" class="dropbtn2">
              <div id="menu_prj" class="dropdown-content2">
                  <form method="post" action="{% url 'save_projeto' %}">{% csrf_token %}
                  <div id="cadastro_projeto">


                      <br>
                      <label for="nomeProjeto">Nome projeto: <input id="nomeProjeto" type="text" name="prj_nome"></label>
                      <br><br>
                      <label for="escopo">Escopo: <input id="escopo" type="text" name="prj_escopo"></label>
                      <br><br>
                      <label for="dt_inicio">Data Início: <input id="dt_inicio" type="date" name="prj_datainicio"></label>
                      <br><br>
                      <label for="dt_prazo">Prazo Entrega: <input id="dt_prazo" type="date" name="prj_prazoentrega"></label>
                        <br><br>
                      <label for="cor">Cor do projeto: <input id="cor" type="color" name="prj_color"></label>
                        <br><br>
                          <button id="btn7" type="submit" class="btn_shadow2">Gravar</button>

                </div>
              </form>
              </div>
        </div>
        
        <img id="imgbtn_trf" src="{% static 'images/img_trf.png' %}">
        <img id="imgbtn_dev" src="{% static 'images/img_dev.png' %}">
        
        <img id="imgbtn_download" src="{% static 'images/img_download.png' %}">
        <button id="btn2" class="btn_shadow2">SALVAR</button>       
    </div>

	<div  id="central">
	
			<div id="left_center" class="box">
                <button id="btn3" class="btn_shadow1" onclick="expandeTarefas()">PROJETO 1</button>
                <div id="col_tarefas">
                    
                </div>

			</div>

			<div id="center" class="box">
               <iframe id="iframeCentral" src="{% url 'grafs' %}" ></iframe>
                
			</div>

			<div id="right_center" class="box">
                
                <div id="pessoas_top">
                    <button id="btn4" class="btn_shadow2" onclick="expandePessoas()">PESSOAS</button>
                    <div id="pessoas_list" class="boxShadow1"> 
                        
                    </div>
                </div>
                
                <div id="datas">
                    <button id="btn5" class="btn_shadow2">DATAS</button>
                    <div id="datas_list" class="boxShadow1"> 
                        <br>
                        <label class="styleWord1">PRAZO: </label>
                        <br><br>
                        <label class="styleWord1">INICIO:</label>
                        <br><br>
                        <label class="styleWord1">FINAL:</label>
                        
                    </div>
                </div>
                 
			</div>
	</div>
    <div id="bottom_central" class="boxShadow1">
            <button id="btn6" class="btn_shadow4" >DIA</button>
            <button id="btn6" class="btn_shadow4">SEMANA</button>
            <button id="btn6" class="btn_shadow4">MÊS</button>
            <button id="btn6" class="btn_shadow4">ANO</button> 
    </div>
    
    
                
                

</body>




</html>