*{
	width: 0px;
	padding: 0px;
}

/*DEFININDO A CLASS BORDER BOX-SHADOW*/

/**/
.boxShadow1{
	box-shadow: 0px 2px 5px #888888;
}

.btn_shadow1{
    width: 150px;
    height: 35px;
    border-radius: 6px;
    background-color: #698FEB;
    color: white;
    font-weight: 500;
    font-family: monospace;
    box-shadow: 0px 0px 5px #698FEB;
    background-image: url(../images/seta1.png);
    background-position: right;
    background-repeat: no-repeat;
}

.btn_shadow2{
    width: 150px;
    height: 35px;
    border-radius: 6px;
    background-color: #698FEB;
    color: white;
    font-weight: 500;
    font-family: sans-serif;
    box-shadow: 0px 0px 5px #698FEB;
}

.btn_shadow3{
    width: 150px;
    height: 35px;
    border-radius: 6px;
    background-color: white;
    color: #698FEB;
    font-weight: 500;
    font-family: monospace;
    box-shadow: 0px 0px 5px #698FEB;
    background-image: url(../images/olho2.png);
    background-position: right;
    background-repeat: no-repeat;
    margin-bottom: 2px;
}

.btn_shadow4{
    width: 150px;
    height: 35px;
    border-radius: 6px;
    background-color: white;
    color: #698FEB;
    font-weight: 500;
    font-family: monospace;
    box-shadow: 0px 0px 5px #698FEB;
    
}

.styleWord1 {
    color: #698FEB;
    font-weight: 500;
    font-family: monospace;
}
/**/
/*///////////////////////////////////*/


/*DEFININDO O ESTILO DA BARRA SUPERIOR*/
#top {
    display: inline-flex;
	width: 1248px;
	height: 60px;
}

#top #imgbtn1{
    justify-content: flex-start;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
}

/*MENU 1 DROPDOWN*/

/**/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 165px;
  
  
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 130px;
    border-style: solid;
    border-color: #698FEB;
    border-width: 1px;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
/**/


/*////////////////*/

#top h1{
    margin-top: 13px;
    justify-content: flex-start;
    margin-left: 60px;
    width: 350px;
    font-size: 1.2vw;
    
    font-family: chandas;
}


#top #imgbtn2{
    justify-content: flex-end;
    width: 20px;
    height: 20px;
    margin-top: 18px;
    margin-left: 620px;
}

#top #btn1{
    justify-content: flex-end;
    margin-top: 9px;
    margin-left: 20px;
}


/*///////////////////////////////////*/



/*DEININDO O ESTILO DA PÁGINA CENTRAL*/

/*TOPO*/
#top_central{
    margin-top: 30px;
    margin-left: 200px;
    display:inline-flex;
    width: 860px;
    height: 60px;
}

#top_central h1{
    justify-content: flex-start;
    width: 200px;
    font-size: 1.2vw;
    font-family: chandas;
    margin-right: 350px;
    margin-left: 30px;
    margin-top: 15px;
    
}

#top_central #imgbtn_topcentral{
    justify-content: flex-end;
    width: 20px;
    height: 20px;
    margin-top: 18px;
    margin-right: 25px;
    
}


#top_central #btn2{
    margin-top: 10px;
    width: 80px;
}

/*///////////////////////////////////*/


/*DEFININDO O ESTILO DAS COLUNAS CENTRAIS*/

#central{
    
	width: 1310px;
	display: flex;
	flex-wrap: wrap;    
	margin-top: 3px;
}

#left_center{
	
	width: 180px;
	height: 380px;
    justify-content: flex-start;
    
	
}

#central #left_center #col_tarefas{
    height: 350px;
    width: 170px;
    overflow:auto;
    margin-left: 15px;
    
}

#left_center #btn3{
    margin-left: 15px;
}

#center #iframeCentral{
    margin-left: 20px;
	width: 856px;
	height: 380px;
	border-style: solid;
	border-width: 2px;
	border-color: #68BAE8;
    justify-content: center;
}



#right_center{
    justify-content: flex-end;
    margin-left: 890px;
	width: 200px;
	height: 380px;
	
}

#right_center #btn4{
    margin-left: 25px;
}

#right_center #pessoas_top #pessoas_list{
    width: 145px;
    height: 160px;
    margin-left: 27px;
    margin-top: 3px;
    overflow:auto;
    
    
}

#right_center #pessoas_top #pessoas_list label{
    margin-left: 50px;
    width: 80px;
    overflow:auto;
    display: inline-grid;
    
}

#right_center #btn5{
    margin-left: 25px;
    margin-top: 2px;
}

#right_center #datas #datas_list{
    width: 145px;
    height: 145px;
    margin-left: 27px;
    margin-top: 3px;
}

#right_center #datas #datas_list label{
    margin-left: 10px;
}



/*///////////////////////////////////*/

#bottom_central{
     margin-top: 3px;
    margin-left: 200px;
    display:flex;
    justify-content: flex-end;
    width: 860px;
    height: 60px;
    display: inline-block;
}

#bottom_central #btn6{
    margin-left: 8px;
    margin-top: 8px;
    justify-content: center;
    margin-left: 50px;
}

/*///////////////////////////////////*/

/*DEININDO O ESTILO DA PÁGINA CENTRAL*/
/*
#footer{
	margin-top: 20px;
	width: 1100px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	height: 60px;
	border-width: 5px;
	border-style: ridge;
	border-color: #68BAE8;
}
*/